@font-face {
    font-family: "Barlow";
    src: url(/Testing/assets/fonts/barlow/Barlow-Extra\ Bold.ttf);
}
body { 
    color: #2A4A5C;
    font-family: Barlow-Extra;
    background-color: #EFF6FF;
}

.content-box {
    background-color: white;
    display: flex;
    margin: 80px 40px 80px 40px;
}

.btnReg-group {
    display: flex;
}

.fb-btn {
    background-color: #255A9B;
    color: white;
    margin-right: 10px;
    padding: 12px;
}

.li-btn {
    background-color: #0076B6;
    color: white;
    padding: 12px;
}


